<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="FaceApiUrl" value="https://northeurope.api.cognitive.microsoft.com/face/v1.0" />
    <add key="FaceApiKey" value="YOUR KEY HERE" />
  </appSettings>
</configuration>
